* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #707070;
  --text: #888888;
  --white: #ffffff;
}

html {
  font-family: Helvetica, sans-serif;
  color: var(--text);
}

a, button {
  cursor: pointer;
}

button {
  outline: none;
  border: none;
}

/* Global classes */

.button {
  width: 100%;
  min-width: 200px;
  color: var(--text);
  font-size: 16px;

  background: none;
  border: 1px solid var(--primary);
  border-radius: 4px;
  padding: 0.7rem 1rem;

  transition: all 0.3s ease;
}

.button:hover {
  background: var(--text);
  color: var(--white);
}

.divider {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  margin: 4rem 0;

  font-size: 20px;
  font-weight: 800;
  white-space: nowrap;
}

.divider::after {
  content: '';
  width: 100%;
  height: 1px;
  background: var(--primary);
}

.divider::before {
  content: '';
  width: 100%;
  height: 1px;
  background: var(--primary);
}
